back-end/.env

*.sh
.env
pgadmin-data
postgres-data
.vscode
back-end/logFile.log
back-end/tmp
tmp/build-errors.log

.github/workflows/temp.txt
front-end/node_modules
node_modules
package-lock.json
front-end/src/Notations.txt